body {
    background-color: rgb(146, 196, 232);
    color: rgb(2, 51, 87);
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        font-family: "Inconsolata", monospace;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    font-size: 20px;
}

*::selection {
    color: rgb(146, 196, 232);
    background-color: rgb(2, 51, 87);
}

.container {
    background-color: rgb(146, 196, 232);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.resize {
    min-height: 100px;
    min-width: 100px;
    max-width: 100%;
    resize: horizontal;
    overflow: auto;
    max-height: none;
}

.flex {
    display: flex;
    background-color: rgb(2, 51, 87);
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.flexColumn {
    flex-direction: column;
}

.flexColumnReverse {
    flex-direction: column-reverse;
}

.flexRow {
    flex-direction: row;
}

.flexRowReverse {
    flex-direction: row-reverse;
}

.wrapReverse {
    flex-wrap: wrap-reverse;
}

.flexFlow {
    flex-flow: row wrap;
}

.jcCenter {
    justify-content: center;
}

.jcStart {
    justify-content: flex-start;
}

.jcEnd {
    justify-content: flex-end;
}

.jcSpaceA {
    justify-content: space-around;
}

.jcSpaceB {
    justify-content: space-between;
}

.jcSpaceE {
    justify-content: space-evenly;
}

.alignCenter {
    height: 200px;
    align-items: center;
}

.alignStart {
    height: 200px;
    align-items: flex-start;
}

.alignEnd {
    height: 200px;
    align-items: flex-end;
}

.alignBaseline {
    height: 200px;
    align-items: baseline;
}

.alignCSpaceB {
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
}

.alignCSpaceA {
    height: 600px;
    flex-wrap: wrap;
    align-content: space-around;
}

.alignCStretch {
    height: 600px;
    flex-wrap: wrap;
    align-content: stretch;
}

.alignCCenter {
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
}

.alignCStart {
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.alignCEnd {
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-end;
}

.alignCBaseline {
    height: 600px;
    flex-wrap: wrap;
    align-content: baseline;
}

.Center {
    height: 600px;
    align-items: center;
    justify-content: center;
}
